body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-menu li {
    margin: 0 20px;
}

.top-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.top-menu li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    display: none; /* 默认情况下，首页不显示侧边栏 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.image-container {
    text-align: center;
}

.company-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.company-description {
    margin-top: 20px;
    text-align: center;
}

.acidRainContent {
    display: flex;
}

.leftSection {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    margin-right: 20px;
}

.rightSection {
    width: 75%;
}

#content div {
    display: none;
}

#content div:first-child {
    display: block; /* 默认显示首页 */
}
