body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
}

.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-menu li {
    margin: 0 20px;
}

.top-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.top-menu li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}

.sidebar {
    display: none; /* 默认情况下，首页不显示侧边栏 */
}

.content {
    width: 80%;
    text-align: center;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.company-image {
    width: 100%;
    max-width: 800px; /* 限制图片最大宽度，使其适应页面 */
    height: auto;
    border: 2px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-description {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.acidRainContent {
    display: flex;
}

.leftSection {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    margin-right: 20px;
}

.rightSection {
    width: 75%;
}

#content div {
    display: none;
}

#content div:first-child {
    display: block; /* 默认显示首页 */
}
